body {
  font-family: "Inter", sans-serif;
  background-color: #bde0fe;
  margin: 10px;
}
h1 {
  color: #003554;
  margin: 10px auto;
  font-size: 34px;
  font-weight: bold;
  line-height: 28px;
  text-align: left;
}
ul {
  margin: 0 0 20px;
  padding: 0;
}
li {
  color: #004d79;
  display: block;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
  text-transform: capitalize;
}
a {
  text-decoration: none;
  color: #00649e;
}
.weather-app {
  border: 1px solid #409fd2;
  padding: 20px;
  background-color: #34a3df;
  max-width: 650px;
  border-radius: 15px;
}

.temperature {
  display: inline;
  font-size: 64px;
  font-weight: 400;
  text-align: left;
  line-height: 1;
  color: #bde0fe;
}
.current-icon {
  height: 90px;
  width: 90px;
  padding: none;
}
.units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.city-search-form {
  margin-bottom: 13px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 20px auto;
}
.location-button {
  margin-bottom: 10px;
  border: 1px solid #3ebbff;
  background-color: #33a9e8;
  color: #a4ddfb;
}
.location-button:hover {
  background-color: #0582ca;
  border: 1px solid #3ebbff;
}
.btn-primary {
  background-color: #eab464;
  border: 1px solid #3ebbff;
}

.btn-primary:hover {
  background-color: #7069aa;
}

.weather-temperature .active {
  color: #bde0fe;
  text-decoration: none;
  cursor: default;
}

.weather-temperature .active :hover {
  color: #bde0fe;
}
.line {
  color: #bde0fe;
}
.update {
  color: #004d79;
  font-weight: 500;
  margin-top: 10px;
}
.weather-forecast {
  margin-top: 10px;
  text-align: center;
}
.card {
  background-color: #0582ca;
  border: 1px solid #33a9e8;
  max-width: 600px;
}

.card-title {
  color: #bde0fe;
  font-weight: bold;
  text-align: center;
  font-size: 17px;
}
.card-text {
  text-align: center;
}
.temperature-high-low {
  color: #003554;
  font-size: 12px;
}
.forecast-temperature-min {
  opacity: 0.5;
}
.source-code {
  color: #3ebbff;
}
.attribute-icon {
  text-align: center;
}
